{% extends 'flatpages/default.html' %}

{% block title %}
    Профиль пользователя
{% endblock title %}

{% block content %}
    <h2>Страница авторизованного пользователя {{ request.user.username }}</h2>
    <br>
    {% if not is_not_authors %}
        <h4>Вы являетесь автором!</h4>
        <div>Вы можете создавать и редактировать новости и статьи.</div>
    {% endif %}
    <div>Здесь выводится ваша персональная информация.</div>
    <br><br>
    <table>
        <tr>
            <th style="text-align: left;">Имя</th>
            <td style="text-align: right;">{{user.first_name}}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Фамилия</th>
            <td style="text-align: right;">{{user.last_name}}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Почта</th>
            <td style="text-align: right;">{{user.email}}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Никнейм</th>
            <td style="text-align: right;">{{user.username}}</td>
        </tr>
        <tr>
            <th style="text-align: left;">Подписки на категории</th>
            <td style="text-align: right;"></td>
        </tr>
    </table>
    <hr>
    <div class="text-center" >
        {% if is_not_authors %}
            <button class="btn btn-lg btn-dark"><a style="text-decoration: none; color: white" href="{% url 'upgrade' %}">Стать автором</a></button>
        {% endif %}
        <button class="btn btn-lg btn-dark"><a style="text-decoration: none; color: white" href="{% url 'account_logout' %}">Выйти</a></button>
    </div>
{% endblock content %}

