{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Новость/Статья
{% endblock title %}

{% block content %}
    <h1>{{ news.title|censor }}</h1>
    <h5><i>{{ news.datetime_post|date:'d M Y' }}</i></h5>

    {% for text in news.text|split %}
        <p>{{ text|censor }}</p>
    {% endfor %}

    <div class="text-center" >
        {% if news.post_type == "NE" %}
            <a style="text-decoration: none" href="/news/{{ news.pk }}/edit">
                <input class="btn btn-lg btn-dark" type="button" value="Редактировать" />
            </a>
            <a style="text-decoration: none" href="/news/{{ news.pk }}/delete">
                <input id="deleteButton" class="btn btn-lg btn-dark" type="button" value="Удалить" />
            </a>
        {% else %}
            <a style="text-decoration: none" href="/article/{{ news.pk }}/edit">
                <input class="btn btn-lg btn-dark" type="button" value="Редактировать" />
            </a>
            <a style="text-decoration: none" href="/article/{{ news.pk }}/delete">
                <input id="deleteButton" class="btn btn-lg btn-dark" type="button" value="Удалить" />
            </a>
        {% endif %}
    </div>

{% endblock content %}