{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
    Все новости
{% endblock title %}


{% block content %}
    <h1>Новостная лента</h1>
    {% if news %}
    <p><i>Количество публикаций: <u>{{news|length}}</u></i></p>
    <table width="100%">
        <tr align="center">
            <th>Заголовок</th>
            <th>Краткое содержание</th>
            <th>Дата публикации</th>
            <th>Категория</th>
        </tr>

        {% for post in news %}
        <tr class="{% cycle 'green' 'white' %}">
            <td align="left" width="55%">
                {% if post.post_type == "NE" %}
                    <a class="nav-link" href="/news/{{ post.id }}">{{ post.title|censor }}</a>
                {% else %}
                   <a class="nav-link" href="/article/{{ post.id }}">{{ post.title|censor }}</a>
                {% endif %}
            </td>
            <td align="left" width="23%">{{ post.text|censor|truncatechars:20 }}</td>
            <td width="10%">{{ post.datetime_post|date:'d M Y' }}</td>
            <td width="12%">
                {% for category in post.category.all %}
                    <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h2>Публикаций нет!</h2>
    {% endif %}

{% include "flatpages/paginate.html" %}

{% endblock content %}